.inner {
  padding: 15px;
  font-size: 13px;
  background-color: var(--ion-background-color);
}
.label {
  color: var(--ion-color-medium);
  margin-bottom: 4px;
  display: inline-block;
}
.input {
  border: 2px solid var(--ion-color-light-tint);
  border-radius: 10px;
}
.items {
  font-size: 12px;
}
.item {
  border: 2px solid var(--ion-color-light-tint);
  padding: 15px;
  overflow-y: auto;
  max-height: 153px;
}
.item--highlighted {
  border: 2px solid rgba(var(--ion-color-warning-rgb), 0.5);
}
.item--selectable:hover {
  cursor: pointer;
  background-color: rgba(var(--ion-color-medium-rgb), 0.05);
}
.item + .item {
  margin-top: 10px;
}
.property-keys {
  margin-top: 8px;
}
.property-key {
  padding: 6px 10px;
  border: 2px solid rgba(var(--ion-color-primary-rgb), 0.6);
  border-radius: 10px;
}
.property-key + .property-key {
  margin-top: 5px;
}
.property-values {
  margin-left: 20px;
}
.property-value {
  padding: 3px;
}
.loader .loading-wrapper {
  background: none !important;
  box-shadow: none !important;
}